{
    "plugins": [
      ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }], // Object.assign is supported by Espruino.
      "check-es2015-constants",
      "transform-es2015-block-scoped-functions",
      ["@babel/plugin-transform-block-scoping", {"throwIfClosureRequired": true}],
      "@babel/plugin-transform-spread",
      ["@babel/plugin-transform-destructuring", {"loose": true}], // Loose assumes we're always destructuring Arrays. Using this to avoid a dependency on Symbol.
      "@babel/plugin-transform-parameters",
      "@babel/plugin-transform-shorthand-properties",
      ["module:fast-async", {
        "spec": true // This transpilation approach relies on promise-fix.js
      }],
      "@babel/plugin-proposal-nullish-coalescing-operator"
    ],
    "presets": ["@babel/preset-typescript"]
  }
  